
<h2>Actualizar Paciente</h2>
<form [formGroup]="formPaciente" (ngSubmit)="actualizarPaciente()">
    <div class="p-fluid">
        <div class="p-field">
            <label for="cedula">Número de cédula: </label>
            <input id="cedula" type="number" pInputText formControlName="cedulaPaciente"> 
        </div>
        <div class="p-field">
            <label for="nombre">Nombre: </label>
            <input id="nombre" type="text" pInputText formControlName="nombre"> 
        </div>
        <div class="p-field">
            <label for="apellido">Apellido: </label>
            <input id="apellido" type="text" pInputText formControlName="apellido"> 
        </div>
        <div class="p-field">
            <label for="estado">Estado: </label>
            <input id="estado" type="text" pInputText formControlName="estado"> 
        </div>
        <div class="p-field">
            <label for="telefono">Telefono: </label>
            <input id="telefono" type="text" pInputText formControlName="telefono"> 
        </div>
        <div class="p-field">
            <label for="direccion">Direccion: </label>
            <input id="direccion" type="text" pInputText formControlName="direccion"> 
        </div>
        <div class="p-field">
            <label for="fdn">Fecha de Nacimiento: </label>
            <input id="fdn" type="date" pInputText formControlName="fechaNacimiento"> 
        </div>
        <div class="p-field">
            <label for="sexo">Sexo: </label>
            <input id="sexo" type="text" pInputText formControlName="sexo"> 
        </div>
        <div class="p-field">
            <label for="eps">EPS: </label>
            <input id="eps" type="text" pInputText formControlName="eps"> 
        </div>
        <div class="p-field">
            <label for="estadoCivil">Estado civil: </label>
            <input id="estadoCivil" type="text" pInputText formControlName="estadoCivil"> 
        </div>
        <br>
        <button [disabled]="formPaciente.invalid" pButton >Enviar</button>
    </div>    
</form>